.start-container {
  color: #e5e5e5;
  background-color: #2c2f33;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;

  .start-header-options {
    display: flex;
    padding-top: 56px;

    .btn-active {
      border: none;
      padding: 9px 32px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 10px;
      width: 50vw;
      background-color: transparent;
      border-bottom: 1px solid #99aab5 !important;
    }

    button {
      border: none;
      padding: 9px 32px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 10px;
      width: 50vw;
      background-color: transparent;
      border-bottom: 1px solid #23272a;
      cursor: pointer;
    }
  }
  .config-options-wrapper {
    margin: 24px 16px;
    border-radius: 8px;
    background-color: #23272a;

    padding: 16px;

    .config-item-wrapper {
      display: flex;
      flex-direction: column;
      .config-item-title {
        color: #b5b5b5;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.2px;
      }
      .config-slider-wrapper {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8px;
        input {
          width: 24px;
          height: 24px;
          margin-left: 16px;
          background-color: #212121;
          outline: none;
          border: none;
          color: #e5e5e5;
          text-align: center;
          font-size: 10px;
          border-radius: 4px;
        }
      }
    }
  }

  .config-footer-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;

    button {
      background-color: #212121;
      color: white;
      border: none;
      padding: 9px 36px;
      margin: 0px 8px;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.2px;
      cursor: pointer;
      border-radius: 4px;
    }

    .restore-btn:hover {
      background-color: #1a1919;
    }

    .save-btn {
      background-color: #7289da;
    }

    .save-btn:hover {
      background-color: #667bc4;
    }
  }

  .play-container {
    width: 100vw;
    height: 80%;
    display: flex;
    flex-direction: column;

    .play-content {
      flex: 1;
      display: flex;
      width: 100vw;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .play-img-wrapper {
        margin-top: 42px;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      .play-content-box {
        background-color: #212121;
        margin: 56px 0px;
        border-radius: 8px;
        width: 50%;
        flex: 1;
        text-align: center;
      }
    }

    .play-footer {
      display: flex;
      justify-content: center;

      button {
        height: 48px;
        width: 50%;
        background-color: #7289da;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        color: #e5e5e5;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 10px;
      }
    }
  }
}
